Repository ansys/pymechanical-embedding-examples, pull requests merged in 2023-09, with the labels that each got.

#58 Fix/documentation build html
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/conf.py
Labels: bug, documentation, maintenance

#69 Fix : Documentation of examples
  .gitignore
  doc/source/_static/basic/valve/Valve.mp4
  doc/source/_static/basic/valve/deformation.png
  doc/source/_static/basic/valve/geometry.png
  doc/source/_static/basic/valve/mesh.png
  doc/source/_static/basic/valve/stress.png
  doc/source/basic_examples/_static/custom.css
  doc/source/basic_examples/basic/ex_01-valve.rst
  doc/source/basic_examples/basic/images/sphx_glr_embedding_basic_01_deformation.png
  doc/source/basic_examples/basic/images/sphx_glr_embedding_basic_01_geometry.png
  doc/source/basic_examples/basic/images/sphx_glr_embedding_basic_01_mesh.png
  doc/source/basic_examples/basic/images/sphx_glr_embedding_basic_01_stress.png
  doc/source/basic_examples/images/thumb/sphx_glr_embedding_basic_01_stress.png
  doc/source/basic_examples/images/thumb/sphx_glr_tse-001-brake_squeal_thumb.png
  doc/source/basic_examples/index.rst
  doc/source/conf.py
  doc/source/index.rst
  examples/README.txt
  examples/basic/.gitignore
  examples/basic/readme.rst
  examples/basic/readme.txt
  examples/basic/valve.py
  examples/technology_showcase/example_10_td_055_Rotor_Blade_Inverse_solve.py
  examples/technology_showcase/readme.txt
Labels: documentation, good first issue

#73 fix: index page
  doc/source/index.rst
Labels: bug, documentation

#70 Fix : Using patched docker image 232 for tests
  .github/workflows/ci_cd.yml
Labels: bug, maintenance

#78 Fix doc index page
  .gitignore
  doc/source/_static/basic/valve/Valve.mp4
  doc/source/_static/basic/valve/deformation.png
  doc/source/_static/basic/valve/geometry.png
  doc/source/_static/basic/valve/mesh.png
  doc/source/_static/basic/valve/stress.png
  doc/source/index.rst
  examples/README.txt
  examples/basic/readme.txt
  examples/basic/valve.py
  examples/technology_showcase/example_10_td_055_Rotor_Blade_Inverse_solve.py
  examples/technology_showcase/readme.txt
Labels: bug, documentation
