Repository ansys/pymechanical-embedding-examples, pull requests merged in 2023-08, with the labels that each got.

#48 Added embed example on Rotor Blade Inverse solve
  .flake8
  examples/technology_showcase/example_10_td_055_Rotor_Blade_Inverse_solve.py
  examples/technology_showcase/readme.rst
Labels: enhancement, maintenance

#50 Pyvista rcparam documentation build fix
  doc/source/conf.py
Labels: bug, documentation

#51 Fix ci cd doc html for capturing build failure
  .github/workflows/ci_cd.yml
Labels: bug, maintenance
